In [13]:
#import the required libraries
import pandas as pd

In [14]:
#import the advertising dataset
df_adv_data = pd.read_csv('Desktop\\advertising.csv')

In [15]:
#view top 5 records
df_adv_data.head()

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3   12.0
3  151.5   41.3       58.5   16.5
4  180.8   10.8       58.4   17.9

In [17]:
#view the dataset size
df_adv_data.size

800

In [18]:
#view the shape of the dataset
df_adv_data.shape

(200, 4)

In [19]:
#view the column of the dataset
df_adv_data.columns

Index(['TV', 'Radio', 'Newspaper', 'Sales'], dtype='object')

In [20]:
#create a feature object from dataset
x_feature = df_adv_data[['TV', 'Radio', 'Newspaper']]

In [21]:
#view the x feature
x_feature.head()

      TV  Radio  Newspaper
0  230.1   37.8       69.2
1   44.5   39.3       45.1
2   17.2   45.9       69.3
3  151.5   41.3       58.5
4  180.8   10.8       58.4

In [25]:
#create target objecct from sales column which is a response is the dataset
y_target = df_adv_data[['Sales']]

In [26]:
#view the target object
y_target.head()

   Sales
0   22.1
1   10.4
2   12.0
3   16.5
4   17.9

In [27]:
#view the feature object shape
x_feature.shape

(200, 3)

In [28]:
#view the target object shape
y_target.shape

(200, 1)

In [38]:
#split test and training data
#by default 75% training and 25% testing data
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x_feature,y_target,random_state=1)

In [39]:
#view shape of train and test data sets for both feature and response
print (x_train.shape)
print (x_test.shape)
print (y_train.shape)
print (y_test.shape)

(150, 3)
(50, 3)
(150, 1)
(50, 1)

In [41]:
#linear regression model
from sklearn.linear_model import LinearRegression
linreg = LinearRegression()
linreg.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [43]:
print (linreg.intercept_)
print (linreg.coef_)

[4.63380855]
[[0.05483762 0.10218027 0.00078783]]

In [44]:
#prediction
y_pred = linreg.predict(x_test)
y_pred

array([[21.29142142],
       [18.04194205],
       [10.03065109],
       [21.04818991],
       [20.75167113],
       [24.52948332],
       [16.85936471],
       [15.69800653],
       [10.17237239],
       [18.90266535],
       [15.82750789],
       [10.53768469],
       [18.86292327],
       [15.57969067],
       [17.89853384],
       [15.35974564],
       [13.76329903],
       [21.00074026],
       [10.03000895],
       [19.20973979],
       [11.12327234],
       [12.18140998],
       [ 8.67037889],
       [11.96248005],
       [12.63332284],
       [16.83484748],
       [ 9.75317608],
       [21.06453498],
       [18.075131  ],
       [19.52477289],
       [22.04440958],
       [17.90745151],
       [16.48534479],
       [14.79190923],
       [21.3573104 ],
       [16.9364024 ],
       [17.18742868],
       [12.33688324],
       [21.02974736],
       [ 7.77584247],
       [ 5.413222  ],
       [ 9.64006117],
       [ 6.91408859],
       [19.22413789],
       [ 7.93800502],
       [15.16854596],
       [13.73132724],
       [21.01419263],
       [20.49929224],
       [20.57792216]])

In [45]:
#import required libraries for calculating MSE
from sklearn import metrics
import numpy as np

In [46]:
#calculate the mean square error
print(np.sqrt(metrics.mean_squared_error(y_test,y_pred)))

1.5096109295725837